<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thank You for Applying</title>
    <link rel="stylesheet" href="/css/thank.css">  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
      
</head>
<body>
    <div class="particles">
        <span class="particle" style="left: 10%; animation-duration: 20s;"></span>
        <span class="particle" style="left: 30%; animation-duration: 25s;"></span>
        <span class="particle" style="left: 50%; animation-duration: 15s;"></span>
        <span class="particle" style="left: 70%; animation-duration: 30s;"></span>
        <span class="particle" style="left: 90%; animation-duration: 18s;"></span>
    </div>

    <div class="container">
        <i class="fas fa-check-circle checkmark"></i>
        <h1>Thank You for Filling!</h1>
    </div>
</body>
</html>